.regularBody {
  background-color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 200ms;
}

.titleBar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}

.closeIcon {
  position: fixed;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-app-region: no-drag;
}

.authorLink {
  position: absolute;
  bottom: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  left: 30px;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  padding: 5px 7px;
  opacity: 0;
  transform: scale(0.7);
  transition: 200ms;
}

.time {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 260px;
  height: 120px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 82px;
  line-height: 86px;
  cursor: pointer;
  outline: none;
  transition: 200ms;
}

.dateText {
  font-size: 14px;
  line-height: 16px;
}

.weatherColumn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.temperature {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 54px;
  line-height: 56px;
  cursor: pointer;
  outline: none;
  transition: 200ms;
}

.hourlyWeather {
  background-color: rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 55px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  transition: 200ms;
}

.hourlyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin: auto 3px;
}

.hourlyIcon {
  height: 20px;
}

.weatherRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  user-select: none;
  font-size: 16px;
  line-height: 20px;
}

.weatherIcon {
  height: 20px;
  margin-right: 7px;
}

.sliderContainer {
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  right: -30px;
  opacity: 0;
  transform: rotate(-90deg) scale(0.7);
  transition: 200ms;
}

.sliderIcon {
  margin: 3px;
  font-size: 16px;
  transform: rotate(90deg);
}

.slider {
  appearance: none;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  background-color: #333;
  outline: none;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  border-radius: 50%;
  cursor: pointer;
}

.settingsIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  opacity: 0;
  transform: scale(0.7);
  transition: 200ms;
}

.regularBody:hover > .settingsIcon,
.regularBody:hover > .authorLink {
  opacity: 1;
  transform: scale(1);
}

.regularBody:hover > .sliderContainer {
  opacity: 1;
  transform: rotate(-90deg) scale(1);
}

.regularBody:hover > .backgroundHover {
  background-color: rgba(0, 0, 0, 0.4);
}

.regularBody:hover > .weatherColumn > .backgroundHover {
  background-color: rgba(0, 0, 0, 0.4);
}

.invisible {
  opacity: 0;
  transform: scale(0.7);
}

.regularBody:hover > .weatherColumn > .invisible {
  opacity: 0.4;
  transform: scale(1);
}

.regularBody:hover > .invisible {
  opacity: 0.4;
  transform: scale(1);
}
